.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading

        %h5.makered

        %strong  
          Please check the  
          %a{:href => '/howitworks'} How it works 
          before getting started.
        %br
        %br

        %ul
          %li 1) add an assignment paper image
          %li.small(each paper sheet is a separate job)
          %br
          %li 2) select a turn-around time
          %li
          %br
          %li 3)  click "do my homework" to send
      .panel-body

        = render 'form' 
