.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading

        %h5.makered

          %ul
            %li - add image of assignment paper
            %li (sheets are done individually)
            %li - select a turn around time
            %li (fewer problems per sheet return faster)
            %li -  click "do my homework" 
      .panel-body

        = render 'form' 

