#post_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      %br
      %br
      %strong.makered
        REMEMBER THAT YOUR ASSIGNMENT WILL NOT BE STARTED UNTIL YOU COMPLETE CONFIRMATION. PLEASE CHECK YOUR EMAIL. 
      %br
      %br
      .panel-heading.post_image
        = image_tag @post.image.url
      .panel-footer
        .row
          .col-md-6
            %strong
              This will be returned to you  
              =@post.category.name
              after payment is made.
            %p.user
            Submitted by
            =@post.user.email

          .col-md-6
            .btn-group.pull-right
                
        = link_to "Submit another page!", root_path , class:"btn btn-danger"
