#post_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.post_image
        = image_tag @post.image.url
      .panel-footer
        .row
          .col-md-6
            %p
            This will be returned to you in: 
            =@post.category.name
            %p.user
            Submitted by
            =@post.user.email

          .col-md-6
            .btn-group.pull-right
                
